.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 10px;

  background-color: #66b2b2;
  border-radius: 3px;
  box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.45);
}

.title {
  padding: 10px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #008080;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: 500;
  color: rgb(183, 183, 183);
}
