.item {
  width: 200px;
  background-color: #008080;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  margin-top: 10px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  transition: transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item:hover {
  transform: scale(1.1);
}

.status {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #004c4c;
  border-radius: 50%;
}

.offline {
  background-color: rgb(115, 2, 2);
}

.name {
  font-weight: 500;
  color: rgb(183, 183, 183);
  margin-left: 10px;
}
